$black: #000;
$white: #FFF;
$banana: #fad46b;
$theblackflag: #364347;
$firstblood: #cc0000;
$strawberry: #f84545;
$babyblue: #e1eef3;
$gray: #f7f7f7;
$darkgray: #5e5e5e;
$lightgray: #a1a1a1;
$verylightgray: #b2c6cd;
$landlubber: #28948c;
$overboard: #009dcd;

$padding: 10px;
$margin: 10px;

$font-size: 16px;
$font-family: 'Source Sans Pro', sans-serif;
$line-height: 1.4;

$break-four: 1050px;
$break-three: 760px;
$break-two: 520px;
$break-one: 360px;
$break-range: 521px,759px;

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');
@import url('normalize.css');

//Utilities
.group:after {
	content: "";
	display: table;
	clear: both;
}
* {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .wrap {
	min-height: 100%;
}

body {
	color: $theblackflag;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	background: $banana;
}

// left bar

.sidebar {
	width: 100%;
	height: 100%;
	padding-bottom:14%;
	background: url(../images/hero.png) bottom center no-repeat;
	background-size: 80%;

//	@media screen and (min-width: $break-three) {
	@media screen and (min-width: $break-two + 1) {
		float: left;
		width: 20%;
		
	}

	.my-info {
		text-align: center;   
		padding: $padding*3 0;
		
		.portfolio-image {
			border-radius: 50%;
		//	margin-right: 10px;  //new added
			
		}

		h1, h2 {
			font-weight: normal;	
		}

		h1 {
			font-size: 160%;
		}

		h2 {
			font-size: 100%;
			padding: 0 $padding;
		}

	}


// this is where the break tests should go - after default
//  min-width doesn't work!

	@media screen and (max-width: $break-three) {	 
			background: none;
		//	.searchbar {
		//      display: none;
		//float: left;
		//width: 20%;
		
	}

	
	@media screen and (max-width: $break-two) {
		background: none;
		.searchbar {
	      display: none;
		}

		.my-info {
			text-align: left;   // changed from center to left
			//padding: $padding*3 0;
			padding: $padding*2 0;
			//padding: $padding*2 10px;

			margin: 10px;    // my change

			.portfolio-image {
				border-radius: 50%;
				float: left;  // new added
				padding-bottom: 30px; //new added

			}

			h1, h2 {
				font-weight: normal;
				//float: left;   // new added
			//	display: inline-block;  // new added 
			}

			h1 {
				font-size: 160%;
				padding-right: 50px;  //new added

			}

			h2 {
				font-size: 100%;
				text-align: left;  // new added
				margin-left: 0;   // new added
				//display: inline-block;
			}

		}

	}

	@media screen and (max-width: $break-one) {
			background: none;
			.searchbar {
		      display: none;
			}
	
		.my-info {
			text-align: left;   // changed from center to left
			padding: $padding*3 0;
		//	padding: $padding*3 10px;
			margin: 10px;    // my change

			.portfolio-image {
				border-radius: 50%;
				float: left;  // new added
				padding-bottom: 30px; //new added
			}

			h1, h2 {
				font-weight: normal;
				//float: left;   // new added
				display: inline;  // new added 
			}

			h1 {
				font-size: 160%;
				padding-right: 150px;  //new added


			}

			h2 {
				font-size: 100%;
			//	padding: 0 $padding; // removed
				text-align: left;  // new added
				margin-left: 0;   // new added
			//	display: inline-block;

			}

		}

	}
}

// social media links

.social {
	width: 120px;
	margin: 0 auto;  


	@media screen and (max-width: $break-one) {
		margin: 0px 50px 10px 10px;   // new added
		//padding-top: -60px;   // new added
		//padding-right: 10px;   // new added
	}

	@media screen and (max-width: $break-two) {
		margin: 0px 50px 10px 10px;   // new added
		//padding-top: -60px;   // new added
		//padding-right: 10px;   // new added


	}
	@media screen and (max-width: $break-three) {
		margin: 0px 50px 10px 10px;   // new added
		//padding-top: -60px;   // new added
		//padding-right: 10px;   // new added


	}


	a {
		float: left;
		width: 25px;
		height: 25px;
		margin: 0 $margin/5;

		background: url(images/social-media.png) no-repeat;
		text-indent: -9999px;

		@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
			background: url(images/social-media@2x.png) no-repeat;
			background-size: 101px 51px;
		}

		&.dribbble {
			background-position: 0px 0px;

			&:hover {
				background-position: 0px -25px;
			}

		}

		&.poopy {
			background-position: -25px 0px;

			&:hover {
				background-position: -25px -25px;
			}
		}

		&.facebook {
			background-position: -50px 0px;

			&:hover {
				background-position: -50px -25px;
			}
		}

		&.github {
			background-position: -75px 0px;

			&:hover {
				background-position: -75px -25px;
			}
		}

	}
}
// searchbar
.searchbar {
	text-align: center;
}
// left side menus
.menus {
	//text-align: center;
	text-align: left;
	margin-left: 20px;

	@media screen and (min-width: $break-three) {
		padding: $padding*2 $padding*3;
		//text-align: center;  //new added
	}


	h3 {
		text-transform: uppercase;
		font-size: 120%;
		font-weight: normal;
		padding-left: $padding*2.5;
		cursor: pointer;
		width: 20%;
		margin: $margin*2 $margin*11 $margin;

		@media screen and (min-width: $break-one) {
			margin: $margin*2 auto $margin*2;
			//text-align: left;  //new added

		}

		@media screen and (min-width: $break-three) {
			margin: $margin*2 0 $margin 0;
			//text-align: left;  //new added

		}
// add new - spacing is controlled by pseudo group after selector
// therefore all margin & padding don't work as expected
		@media screen and (max-width: $break-three) {
			display: inline;
		//	text-align: left;
			margin-right: 5px;
			//padding-left: -20px;
			//margin-top: -20px;
			//padding-top: -20px;  //new
		}

		@media screen and (max-width: $break-two) {
			display: inline;
			//text-align: left;

			margin-right: 5px;
			//padding-left: -20px;

			//margin-top: -20px;
			//padding-top: -20px;  //new


		}
		@media screen and (max-width: $break-one) {
			display: inline;
		//	text-align: left;

			margin-right: 5px;
			//padding-left: -20px;

			//margin-top: -20px;
			//padding-top: -20px;  //new

		}


		&:before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			height: 18px;
			display: block;
			background: url(images/nav-sprite.png) no-repeat;

			@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
				background: url(images/nav-sprite@2x.png) no-repeat;
				background-size: 49px 18px;
			}
		}

		&.work {
			color: $strawberry;

			&:before {
				width: 15px;
				background-position: 0px 0px;
			}
		}

		&.about {
			color: $landlubber;

			&:before {
				width: 17px;
				background-position: -15px 0px;
			}
		}

		&.contact {
			color: $overboard;

			&:before {
				width: 17px;
				background-position: -32px 0px;
			}
		}
	}
}

// menu lists

ul {
	list-style: none;
	padding: 0;
	display: none;
	margin: 0 $margin*13.5 $margin;
	text-align: left;

	@media screen and (min-width: $break-three) {
		margin: 0 0 0 $margin*2.5;
		display: block;
		width: auto;
	}

	&.open {
		display: inline-block;
		margin: 0 auto $margin $margin*6;

		@media screen and (min-width: $break-three) {
			margin: 0 0 0 $margin*2.5;
			display: block;
			width: auto;
		}
	}

	li {
		a {
			color: $theblackflag;
			text-decoration: none;
			-webkit-transition: color 0.4s ease;
			-moz-transition: color 0.4s ease;
			-o-transition: color 0.4s ease;
			-ms-transition: color 0.4s ease;
			transition: color 0.4s ease;

			&:hover, &.current-menu-item {
				color: $strawberry;
				-webkit-transition: color 0.4s ease;
				-moz-transition: color 0.4s ease;
				-o-transition: color 0.4s ease;
				-ms-transition: color 0.4s ease;
				transition: color 0.4s ease;
			}
		}
	}
}

// main content
.content {
	width: 100%;
//	width: 80%; // changed from 100
//	float: left; // new added
	min-height: 100%;
	background: $white;

	@media screen and (min-width: $break-three) {
		float: left;
		width: 80%;
	}
	
//added new
	@media screen and (min-width: 521px) and (max-width: 759px) {
		float: left;
		width: 80%;
	}

	.portfolio-item {
		background: $babyblue;

		&:before {
			content: "";
			position: absolute;
			width: 3px;
			background: darken($verylightgray, 5%);
			top: 0px;
			left: 17px;
			bottom: 0px;
		}

		&.first {
			&:before {
				top: 30px;
			}
		}

		.portfolio-info {
			min-height: 100%;
			color: $darkgray;
			padding: $padding*2 $padding*2 $padding*2 $padding*4;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;

			@media screen and (min-width: $break-three) {
				float: left;
				width: 80%;
			}

			.date {
                font-size: 100%;
                color: $theblackflag;
                // margin-bottom: $margin;
            }

			.title {
				font-size: 110%;
				color: $theblackflag;
				margin-bottom: $margin;

				&:before {
					content: "";
					position: absolute;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					border: 2px solid $gray;
					background: $strawberry;
					left: -29px;
					top: 3px;
				}
			}

		}

	}

	// content syles
	.portfolio-image {
		padding: $padding*2;
		background: $white;
		border-left: 1px solid darken($gray, 10%);
		text-align: center;

		@media screen and (min-width: $break-three) {
			float: left;
			width: 70%;
		}

		img {
			width: 100%;
			max-width: 610px;
			height: auto;
		}

		div.loading {
			img {
				width: auto;
				height: auto;
			}
		}
	}
}
div.loading {
	color: darken($gray, 20%);
	position: absolute;
	width: 100px;
	bottom: 15px;
	left: 50%;
	margin-left: -50px;

	img {
		vertical-align: middle;

		&.rotate {
			-webkit-animation-name: rotate;
			-ms-animation-name: rotate;
			animation-name: rotate;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			-ms-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
			animation-timing-function: linear;
		}
	}


	@-webkit-keyframes rotate {
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transform-origin: center center;
			transform-origin: center center;
		}
	}

	@keyframes rotate {
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transform-origin: center center;
			-ms-transform-origin: center center;
			transform-origin: center center;
		}
	}
}
